import pandas as pd
from tabulate import tabulate
from decimal import Decimal
from bs4 import BeautifulSoup
import json
import requests
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from wordcloud import WordCloud, ImageColorGenerator
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from PIL import Image
import re
from re import sub
import time
from nltk.stem import WordNetLemmatizer